.footer {
  padding: 80px 120px 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-color);

  @include desktop {
    padding: 60px 80px 60px;
  }

  @include laptop {
    padding: 40px 60px 40px;
  }

  @include tablet {
    padding: 60px 30px 25px;
  }

  @include phone() {
    padding: 60px 18px 25px;
  }


  &__title {
    margin: 0;
    width: 230px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &__form {
    margin-top: 50px;
    width: 360px;
    height: 50px;
    position: relative;

    @include tablet() {
      margin-top: 40px;
    }

    @include phone {
      width: 284px;
      height: 50px;
    }
  }

  &__input {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    background-color: transparent;
    opacity: .7;
    color: var(--text-color);
  }

  &__input:focus {
    outline: 1px solid #C7C7C7;
  }

  &__input::placeholder {
    color: var(--text-color);
  }

  &__input:focus + &__submit {
    visibility: visible;
    opacity: 1;
  }

  &__submit {
    width: 16px;
    height: 28px;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    color: var(--text-color);
    transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
    z-index: 1;
  }

  &__submit_active {
    visibility: visible;
    opacity: 1;
  }

  &__copyright-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--copyright-color);
  }

  &__copyright-image {
    width: 38px;
    height: 38px;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__theme {
    @include tablet {
      display: none;
    }
  }
}
