@import url(../vendor/fonts.css);
@import url(../variables/color.scss);
@import url(./light.css);

@import url(../blocks/_page.scss);
@import url(../blocks/_theme.scss);
@import url(../blocks/_header.scss);
@import url(../blocks/_intro.scss);
@import url(../blocks/_quote.scss);
@import url(../blocks/_surface.scss);
@import url(../blocks/_bikes.scss);
@import url(../blocks/_training.scss);
@import url(../blocks/_footer.scss);



$desktopWide: 1440px;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px;
$phone-small: 320px;



@mixin titleDesktop {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

@mixin titleLaptop {
  font-size: 48px;
  line-height: 54px;
}

@mixin titleTablet {
  font-size: 40px;
  line-height: 48px;
}

@mixin titlePhone {
  font-size: 32px;
  line-height: 40px;
}



@mixin textDesktop {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-second-color);
  opacity: .7;
}

@mixin textLaptop {
  font-size: 16px;
  line-height: 24px;
}

@mixin textTablet {
  font-size: 14px;
  line-height: 20px;
}

@mixin textPhone {
  font-size: 12px;
  line-height: 18px;
}



@mixin desktopWide {
  @media screen and (max-width: $desktopWide) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin phoneSmall {
  @media screen and (max-width: $phone-small) {
    @content;
  }
}


























