@import url(../vendor/fonts.css);
@import url(../variables/color.scss);
@import url(./light.css);



$desktopWide: 1440px;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px;
$phone-small: 320px;



@mixin titleDesktop {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

@mixin titleLaptop {
  font-size: 48px;
  line-height: 54px;
}

@mixin titleTablet {
  font-size: 40px;
  line-height: 48px;
}

@mixin titlePhone {
  font-size: 32px;
  line-height: 40px;
}



@mixin textDesktop {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-second-color);
  opacity: .7;
}

@mixin textLaptop {
  font-size: 16px;
  line-height: 24px;
}

@mixin textTablet {
  font-size: 14px;
  line-height: 20px;
}

@mixin textPhone {
  font-size: 12px;
  line-height: 18px;
}



@mixin desktopWide {
  @media screen and (max-width: $desktopWide) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin phoneSmall {
  @media screen and (max-width: $phone-small) {
    @content;
  }
}

.page {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: var(--page-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__item:first-child {
    width: 28px;
    height: 28px;
    background-image: var(--button-sun-url);
  }

  &__item:last-child {
    width: 20px;
    height: 20px;
    background-image: var(--button-moon-url);
    fill: black;
  }

  &__radio-container {
    width: 44px;
    height: 24px;
    padding: 0;
    margin: 0 22px;
    position: relative;
    display: flex;
    border: 0;
    background-color: var(--button-background-color);
    border-radius: 100px;
    cursor: pointer;
  }

  &__radio {
    appearance: none;
    margin: 0;
    width: 22px;
    height: 24px;
  }

  &__radio-status {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--link-color);
    border-radius: 100%;
    transition: .3s ease-in-out left;
  }

  &__radio_light:checked ~ &__radio-status {
    left: 2px;
  }

  &__radio_dark:checked ~ &__radio-status {
    left: 22px;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 1440px;
  width: 100%;
  height: 74px;
  background-color: var(--page-color);
  z-index: 1;

  @include tablet {

  }

  @include phone {
  }

  &__hamburger-container {
    display: none;
    height: 74px;

    @include tablet {
      display: block;
    }
  }

  &__hamburger-toggle {
    display: none;
  }

  &__hamburger-button {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 19px;
    width: 22px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    transition: .3s ease-in-out opacity;

    @include phone {
      right: 18px;
    }
  }

  &__hamburger-button:hover {
    opacity: .6;
  }

  &__hamburger-line {
    display: block;
    position: relative;
    top: 0;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--text-color);
    transition: 0.3s ease-in-out transform, 0.3s ease-in-out width,
  }

  &__hamburger-line:first-child {
    transform-origin: 0;
  }

  &__hamburger-line:nth-child(2) {
    width: 22px;
  }

  &__hamburger-line:last-child {
    margin-bottom: 0;
    transform-origin: 19px;
  }

  &__hamburger-toggle:checked ~ &__hamburger-button &__hamburger-line:first-child {
    width: 14px;
    top: -1px;
    left: 3px;
    transform: rotateZ(45deg);
  }

  &__hamburger-toggle:checked ~ &__hamburger-button &__hamburger-line:nth-child(2) {
    top: 1px;
    right: 2px;
    width: 28px;
    transform: rotateZ(-45deg);
  }

  &__hamburger-toggle:checked ~ &__hamburger-button &__hamburger-line:last-child {
    width: 23px;
    left: 1px;
    transform: rotateZ(45deg);
  }

  &__menu {
    padding: 28px 0 0;
    background-color: var(--page-color);
    z-index: 1;

    @include tablet {
      position: absolute;
      width: 100%;
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
    }
  }

  &__menu_active {
    visibility: visible;
    opacity: 1;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    @include tablet {
      align-items: center;
      flex-direction: column;
      font-size: 18px;
    }
  }

  &__menu-item {
    margin: 0 34px 0 0;

    @include tablet {
      margin: 0 0 32px;
    }
  }

  &__menu-item:last-child {
    margin: 0 120px 0 0;

    @include tablet {
      margin: 0;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: var(--text-color);
    transition: .3s ease-in-out opacity;
  }

  &__menu-link:hover {
    opacity: .75;
  }

  &__theme {
    display: none;
    padding: 314px 0 36px;

    @include tablet {
      display: flex;
    }
  }

}



.intro {
  padding: 74px 0 0 120px;
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  grid-template-rows: repeat(5, fit-content(1px));


  @include desktop {
    padding: 74px 0 0 80px;
  }

  @include laptop {
    padding: 74px 0 0 60px;
  }

  @include tablet {
    padding: 74px 30px 80px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, fit-content(1px));
    gap: 40px;
    justify-content: center;
  }

  @include phone {
    padding: 74px 18px 80px;
  }

  &__title {
    margin: 80px 0 0;
    max-width: 360px;
    grid-area: 1 / 1 / 2 / 2;
    @include titleDesktop;

    @include laptop {
      @include titleLaptop;
    }

    @include tablet {
      margin: 40px 0 0;
      max-width: 300px;
      grid-area: 1 / 1 / 2 / 2;
      @include titleTablet;
    }

    @include phone {
      @include titlePhone;
    }
  }

  &__text {
    max-width: 460px;
    margin: 50px 0 0;
    grid-area: 2 / 1 / 3 / 2;
    @include textDesktop;

    @include desktop {
      max-width: 400px;
    }

    @include laptop {
      max-width: 320px;
      @include textLaptop;
    }

    @include tablet {
      margin: 0;
      max-width: 430px;
      grid-area: 3 / 1 / 4 / 2;
      @include textTablet;
    }

    @include phone {
      @include textPhone;
    }
  }

  &__link {
    max-width: 180px;
    max-height: 50px;
    padding: 16px 0;
    margin: 50px 0 0;
    grid-area: 3 / 1 / 4 / 2;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: var(--button-text-color);
    background: linear-gradient(to right, var(--link-active-color) 50%, var(--link-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;

    @include tablet {
      max-width: 284px;
      padding: 16px 99px;
      margin: 0;
      grid-area: 4 / 1 / 5 / 2;
      justify-self: center;
    }
  }

  &__link:hover {
    background-position: left bottom;
  }

  &__name-container {
    margin-top: 167px;
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    align-items: center;

    @include desktop {
      display: none;
    }
  }

  &__name {
    margin: 0 20px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  &__line {
    width: 132px;
    height: 2px;
    background: #D7D4D4;
  }

  &__image-container {
    position: relative;
    grid-area: 1 / 2 / -1 / -1;
    justify-self: end;

    @include tablet {
      justify-self: center;
      grid-area: 2 / 1 / 3 / 2;
    }

    @include phone {
      justify-self: end;
    }
  }

  &__lead {
    position: absolute;
    top: 0;
    left: -20%;
    width: 50%;

    @include tablet {
      top: 0;
      left: 0;
    }
  }

  &__bike-overlay {
    width: 100%;
  }

  &__bike-overlay:first-child {
    height: 347px;

    @include desktop {
      height: 300px;
    }

    @include laptop {
      height: 200px;
    }
  }

  &__bike-overlay:last-child {
    margin: 130px 0 0;
    height: 1px;

    @include desktop {
      margin: 104px 0 0;
    }

    @include laptop {
      margin: 86px 0 0;
    }
  }

  &__bike-image {
    position: sticky;
    top: 130px;
    max-width: 340px;
    max-height: 260px;
    min-width: 182px;
    padding: 20px 50px;
    background: #F4F4F4;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    @include tablet {
      position: absolute;
      top: 50%;
      left: -25%;
      padding: 10px 26px;
    }
  }

  &__image {
    margin-top: 20px;
    max-width: 610px;
    max-height: 836px;
    min-width: 254px;
    min-height: 40vh;
    object-fit: contain;
  }
}



.quote {
  padding: 120px 120px 0;
  display: flex;
  justify-content: space-between;

  @include desktop {
    padding: 120px 80px 0;
  }

  @include laptop {
    padding: 100px 60px 0;
  }

  @include tablet {
    padding: 40px 30px 80px;
    flex-direction: column;
    border-top: 1px solid var(--section-line-color);
  }

  @include phone {
    padding: 20px 18px 80px;
  }

  &__image {
    max-width: 650px;
    max-height: 460px;
    margin-right: 40px;
    object-fit: contain;

    @include tablet {
      margin: 0;
    }
  }

  &__text-container {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__quotation {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;

    @include desktop {
      font-size: 32px;
      line-height: 46px;
    }

    @include laptop {
      font-size: 27px;
      line-height: 35px;
    }

    @include tablet {
      margin: 40px 0 0;
      font-size: 25px;
      line-height: 32px;
    }

    @include phone {
      font-size: 23px;
      line-height: 29px;
    }
  }

  &__author {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    @include tablet {
      margin: 40px 0 0;
    }
  }

  &__author-job {
    margin: 6px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-second-color);
    opacity: .7;

    @include tablet {
      margin: 4px 0 0;
    }
  }
}



.surface {
  padding: 120px 0 0 120px;
  display: grid;
  grid-template-rows: repeat(4, fit-content(1px));
  overflow: hidden;

  @include desktop {
    padding: 120px 0 0 80px;
  }

  @include laptop {
    padding: 100px 60px 0;
  }

  @include tablet {
    padding: 60px 30px 100px;
    grid-template-columns: repeat(2, .5fr);
    grid-template-rows: repeat(3, fit-content(1px));
    gap: 40px;
    border-top: 1px solid var(--section-border-color);
  }

  @include phone {
    padding: 40px 18px 80px;
  }

  &__title {
    margin: 0;
    @include titleDesktop;

    @include laptop {
      @include titleLaptop;
    }

    @include tablet {
      grid-area: 1 / 1 / 2 / 2;
      @include titleTablet;
    }

    @include phone {
      @include titlePhone;
    }
  }

  &__text {
    max-width: 480px;
    margin: 50px 0 0;
    @include textDesktop;

    @include laptop {
      max-width: 825px;
      margin: 40px 0 0;
      @include textLaptop;
    }

    @include tablet {
      margin: 0;
      grid-area: 3 / 1 / 4 / 3;
      @include textTablet;
    }

    @include phone {
      @include textPhone;
    }
  }

  &__image-flex {
    margin: 80px 0 0;
    display: flex;
    justify-content: center;

    @include laptop {
      margin: 60px 0 0;
    }

    @include tablet {
      margin: 0;
      grid-area: 2 / 1 / 3 / 3;
    }
  }

  &__image-container {
    margin: 0 40px 0 0;
    position: relative;

    @include tablet {
      margin: 0;
    }
  }

  &__image-container:last-child {
    margin: 0;

    @include laptop {
      display: none;
    }
  }

  &__marker-overlay {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100px;
    height: 40px;
    background-image: url(../images/surface/marker.svg);
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__marker {
    position: absolute;
    left: 16px;
    bottom: 12px;
  }

  &__image {
    max-width: 650px;
    max-height: 400px;
    min-width: 284px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image:last-child {
    margin: 0;
  }

  &__button-container {
    margin: 50px 0 0;
    display: flex;

    @include laptop {
      margin: 40px 0 0;
    }

    @include tablet {
      margin: 0;
      grid-area: 1 / 2 / 2 / 3;
      justify-self: end;
      align-self: center;
    }
  }

  &__button {
    padding: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7px 16px;
    background-color: var(--image-switcher-color);
    border: 0;
    border-radius: 100%;
    transition: .3s ease-in-out opacity;

    @include tablet {
      width: 24px;
      height: 24px;
      background-size: 5px 10px;
    }
  }

  &__button:first-child {
    margin: 0 20px 0 0;
    background-image: var(--image-switcher-left-url);
    background-position: left 20px center;

    @include tablet {
      margin: 0 10px 0 0;
    }
  }

  &__button:last-child {
    background-image: var(--image-switcher-right-url);
    background-position: left 23px center;
  }

  &__button:hover {
    opacity: .6;
  }
}



.bikes {
  padding: 120px 120px 60px;
  display: grid;
  grid-template-columns: repeat(2, fir-content(1px));
  grid-template-rows: repeat(2, fit-content(1px));

  @include desktop {
    padding: 120px 80px 40px;
  }

  @include laptop {
    padding: 100px 60px 20px;
  }

  @include tablet {
    padding: 60px 30px 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, fit-content(1px));
    border-top: 1px solid var(--section-border-color);
  }

  @include phone {
    padding: 40px 18px 80px;
  }

  &__title {
    margin: 0;
    grid-area: 1 / 1 / 2 / 2;
    @include titleDesktop;

    @include laptop {
      @include titleLaptop;
    }

    @include tablet {
      @include titleTablet;
    }

    @include phone {
      @include titlePhone;
    }
  }

  &__switcher-container {
    grid-area: 1 / 2 / 2 / -1;
    display: flex;
    justify-self: end;

    @include tablet {
      display: none;
    }
  }

  &__switcher {
    padding: 0;
    margin: 0 40px 0 0;
    border: 0;
    background-color: transparent;
    opacity: .6;
    color: var(--text-second-color);
    transition: .3s ease-in-out opacity, .3s ease-in-out color;
    @include textDesktop;

    @include laptop {
      @include textLaptop;
    }
  }

  &__switcher:last-child {
    margin: 0;
  }

  &__switcher:hover {
    opacity: .75;
    color: var(--text-color);
  }

  &__switcher_active {
    opacity: 1;
    color: var(--text-color);
  }

  &__select {
    display: none;
    width: 114px;
    height: 30px;
    margin: 40px 0 0;
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid var(--section-border-color);
    border-radius: 2px;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;

    @include tablet {
      display: block;
    }
  }

  &__select::after {
    content: '';
    width: 5px;
    height: 10px;
    position: absolute;
    top: 13px;
    right: 13px;
    background-image: url(../images/bikes/select.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__select-standart {
    width: 100%;
    height: 100%;
    padding: 8px 0 8px 12px;
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    outline: none;
    cursor: inherit;
  }

  &__select-item {
    background-color: var(--page-color);
  }

  &__image-container {
    margin: 120px 0 0;
    grid-area: 2 / 1 / -1 / -1;
    display: flex;
    gap: 30px;

    @include desktop {
      margin: 100px 0 0;
    }

    @include laptop {
      margin: 80px 0 0;
    }

    @include tablet {
      margin: 20px 0 0;
      grid-area: 3 / 1 / 4 / 2;
      justify-content: center;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--text-color);
  }

  &__figure {
    margin: 0;
  }

  &__overlay {
    padding: 20px;
    background: #F4F4F4;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.20);
    border-radius: 20px;

    @include tablet {
      padding: 15px 15px 37px;
    }
  }

  &__image {
    max-width: 340px;
    max-height: 340px;
    width: 100%;
    object-fit: contain;
  }

  &__figcaption {
    margin: 22px 0 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    @include tablet {
      margin: -34px 0 0px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }

  &__dots {
    margin: 36px 0 0;
    grid-area: 4 / 1 / 5 / 2;
    display: none;
    gap: 5px;
    justify-self: center;

    @include tablet {
      display: flex;
    }
  }

  &__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--dot-color);
  }

  &__dot_active {
    background-color: var(--text-color);
  }
}



.training {
  padding: 150px 120px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, fit-content(1px));
  justify-content: space-between;

  @include desktop {
    padding: 120px 80px 120px;
  }

  @include laptop {
    padding: 100px 60px 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, fit-content(1px));
    gap: 40px;
  }

  @include tablet {
    padding: 60px 30px 80px;
    border-top: 1px solid var(--section-border-color);
  }

  @include phone {
    padding: 40px 18px 60px;
  }

  &__title {
    margin: 0;
    grid-area: 1 / 1 / 2 / 2;
    @include titleDesktop;

    @include laptop {
      @include titleLaptop;
    }

    @include tablet {
      @include titleTablet;
    }

    @include phone {
      @include titlePhone;
    }
  }

  &__text {
    min-width: 460px;
    margin: 0;
    grid-area: 2 / 1 / 3 / 2;
    @include textDesktop;

    @include desktop {
      min-width: 400px;
    }

    @include laptop {
      min-width: 320px;
      grid-area: 3 / 1 / 4 / 2;
      @include textLaptop;
    }

    @include tablet {
      @include textTablet;
    }

    @include phone {
      @include textPhone;
    }
  }

  &__apps-container {
    grid-area: 3 / 1 / -1 / 2;
    display: flex;
    align-self: end;

    @include laptop {
      grid-area: 4 / 1 / 5 / 2;
    }
  }

  &__app-name {
    margin: 0 30px 0 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
    transition: .3s ease-in-out opacity;
  }

  &__app-name:last-child {
    margin: 0;
  }

  &__app-name:hover {
    opacity: .75;
  }

  &__image-container {
    width: 100%;
    grid-area: 1 / 2 / -1 / -1;

    @include laptop {
      grid-area: 2 / 1 / 3 / 2;
    }

    @include phone {
      width: 90%;
    }
  }

  &__image {
    max-width: 580px;
    max-height: 460px;
    width: 100%;
  }
}



.footer {
  padding: 80px 120px 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-color);

  @include desktop {
    padding: 60px 80px 60px;
  }

  @include laptop {
    padding: 40px 60px 40px;
  }

  @include tablet {
    padding: 60px 30px 25px;
  }

  @include phone() {
    padding: 60px 18px 25px;
  }


  &__title {
    margin: 0;
    width: 230px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &__form {
    margin-top: 50px;
    width: 360px;
    height: 50px;
    position: relative;

    @include tablet() {
      margin-top: 40px;
    }

    @include phone {
      width: 284px;
      height: 50px;
    }
  }

  &__input {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    background-color: transparent;
    opacity: .7;
    color: var(--text-color);
  }

  &__input:focus {
    outline: 1px solid #C7C7C7;
  }

  &__input::placeholder {
    color: var(--text-color);
  }

  &__input:focus + &__submit {
    visibility: visible;
    opacity: 1;
  }

  &__submit {
    width: 16px;
    height: 28px;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    color: var(--text-color);
    transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
    z-index: 1;
  }

  &__submit_active {
    visibility: visible;
    opacity: 1;
  }

  &__copyright-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--copyright-color);
  }

  &__copyright-image {
    width: 38px;
    height: 38px;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__theme {
    @include tablet {
      display: none;
    }
  }
}
