.quote {
  padding: 120px 120px 0;
  display: flex;
  justify-content: space-between;

  @include desktop {
    padding: 120px 80px 0;
  }

  @include laptop {
    padding: 100px 60px 0;
  }

  @include tablet {
    padding: 40px 30px 80px;
    flex-direction: column;
    border-top: 1px solid var(--section-line-color);
  }

  @include phone {
    padding: 20px 18px 80px;
  }

  &__image {
    max-width: 650px;
    max-height: 460px;
    margin-right: 40px;
    object-fit: contain;

    @include tablet {
      margin: 0;
    }
  }

  &__text-container {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__quotation {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;

    @include desktop {
      font-size: 32px;
      line-height: 46px;
    }

    @include laptop {
      font-size: 27px;
      line-height: 35px;
    }

    @include tablet {
      margin: 40px 0 0;
      font-size: 25px;
      line-height: 32px;
    }

    @include phone {
      font-size: 23px;
      line-height: 29px;
    }
  }

  &__author {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    @include tablet {
      margin: 40px 0 0;
    }
  }

  &__author-job {
    margin: 6px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-second-color);
    opacity: .7;

    @include tablet {
      margin: 4px 0 0;
    }
  }
}
